#https://wiki.openssl.org/index.php/Manual:Ciphers(1)

# 2016-11 (afpy inspired) https://blog.imirhil.fr/2015/09/02/cryptcheck-verifiez-implementations-tls.html
ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256:AES256+EECDH:AES256+EDH";
ssl_protocols TLSv1.1 TLSv1.2;


ssl_prefer_server_ciphers on;
ssl_session_cache shared:ssl_session_cache:10m;
ssl_certificate /etc/letsencrypt/live/{{ item.item }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ item.item }}/privkey.pem;
ssl_dhparam /etc/ssl/certs/dhparam.pem;

# Uncomment to enable HSTS:
# add_header Strict-Transport-Security "max-age=63072000; includeSubDomains";

# Uncomment to enable CSPs:
# add_header Content-Security-Policy upgrade-insecure-requests;
# add_header Content-Security-Policy block-all-mixed-content;
