0  5  	* * *		root	/usr/bin/rsnapshot -c /etc/rsnapshot_{{ rsnapshot_name }}.conf daily
30 4  	* * 1		root	/usr/bin/rsnapshot -c /etc/rsnapshot_{{ rsnapshot_name }}.conf weekly
0  4  	1 * *		root	/usr/bin/rsnapshot -c /etc/rsnapshot_{{ rsnapshot_name }}.conf monthly
30 3  	1 1 *		root	/usr/bin/rsnapshot -c /etc/rsnapshot_{{ rsnapshot_name }}.conf yearly
